@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome</h3>
    <p>This bugtracker was built with a specific company using it in mind. Therefore, new users cannot be created globally and must be created by a user already registered within the company.<a></a>.</p>
    <p>To see how this project works for admins, login as btadmin1@BugTracker.com. Password is "Abc&123!".</p>
    <p>To see how this project works for Project Managers, login as ProjectManager2@BugTracker.com. Password is "Abc&123!".</p>
    <p>To see how this project works for Developers, login as demodev@BugTracker.com. Password is "Abc&123!".</p>
</div>
