@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome</h3>
    <p>Please Login To View Your Projects<a></a>.</p>
    <p>For testing purposes, login as btadmin1@BugTracker.com. Password is "Abc&123!".</p>
</div>
